<div class="products-header">
  <laminarte-section-header
    [title]="menuItem.title"
    [subtitle]="menuItem.subtitle"
    [separator]="'assets/shared/header/separator-grey.png'"
    [titleColor]="'#424242'">
  </laminarte-section-header>
</div>

<div class="viewport">
  <div class="content">
    <div class="sections-container">
      <div
        *ngFor="let product of products"
        class="section-container">

        <a [routerLink]="['./products', 'hardcodedId']">
          <laminarte-products-card
            [item]="product">
          </laminarte-products-card>
        </a>

      </div>
    </div>
  </div>
</div>
