<div class="about-header">
  <laminarte-section-header
    [title]="menuItem.title"
    [subtitle]="menuItem.subtitle"
    [separator]="'assets/shared/header/separator-white.png'"
  >
  </laminarte-section-header>
</div>

<div class="about-body">

  <div class="about-logo">
    <img src="assets/shared/logo/main-logo.jpg" alt="">
  </div>

  <div class="about-content">

    <div class="attributes-container">
      <laminarte-basic-card
        *ngFor="let item of items"
        [item]="item">

      </laminarte-basic-card>
    </div>

  </div>

</div>
