:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  // & > .title-container {
  //   flex-grow: 1;
  // }

  .title-container, .description-container {
    color: #c0c0c0;
  }

  .title-container {
    flex-grow: 1;
    font-family: nunito-extra-light;
    font-weight: lighter;
    font-size: 2em;
    margin-bottom: 14px;
  }

  .description-viewport {
    font-family: pt-sans-narrow;
    font-size: 0.8em;
    line-height: 1.6;
    overflow-y: auto;
    max-height: 100px;

    .description-content {

    }
  }
}
