<div class="services-header">
  <laminarte-section-header
    [title]="menuItem.title"
    [subtitle]="menuItem.subtitle"
    [separator]="'assets/shared/header/separator-grey.png'"
    [titleColor]="'white'">
  </laminarte-section-header>
</div>

<div class="services-body">
  <div class="services-container">

    <div
      class="service-container"
      *ngFor="let product of products | slice:0:4">

      <div class="product-image-container">
        <!-- TODO: Switch by product image -->
        <img src="assets/dummy/skyline.png" class="product-image" alt="">
      </div>

      <div class="card-container">
        <laminarte-services-card [item]="product"></laminarte-services-card>
      </div>
    </div>

  </div>
</div>
