<div class="contact-header">
  <laminarte-section-header
    [title]="menuItem.title"
    [subtitle]="menuItem.subtitle"
    [separator]="'assets/shared/header/separator-white.png'"
    [titleColor]="'white'">
  </laminarte-section-header>
</div>

<div class="contact-content">

  <div class="contact-image-container">
    <img src="assets/dummy/skyline.png" class="contact-image" alt="">
  </div>

  <div class="social-container">
    <button class="social-mail-button"></button>
    <button class="social-insta-button"></button>
    <button class="social-face-button"></button>
  </div>

</div>
