<laminarte-menu-container
  [open]="menuService.open$ | async"
  (toggleVisibility)="menuService.toggleVisibility()">
</laminarte-menu-container>

<!-- <router-outlet></router-outlet>  For now not using router, check if it is worthy -->

<div mnFullpage
  [mnFullpageScrollOverflow]="true">

  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <laminarte-home></laminarte-home>
    </div>
  </div>

  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <laminarte-about></laminarte-about>
    </div>
  </div>

  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <laminarte-products></laminarte-products>
    </div>
  </div>

  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      4
    </div>
  </div>
</div>
