:host {
  height: 100vh;
  position: absolute;
  width: 200px;
  top: 0;
  right: 0;

  .menu-container {
    position: absolute;
    overflow: hidden;
  }

  .close-button {
    position: absolute;
    left: -20px;
    cursor: pointer;
  }
}
