<div laminarteScroller>
  <div laminarteScrollerItem class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <laminarte-home></laminarte-home>
    </div>
  </div>

  <div laminarteScrollerItem class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <laminarte-about></laminarte-about>
    </div>
  </div>

  <div laminarteScrollerItem class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <laminarte-products
        [products]="products">
      </laminarte-products>
    </div>
  </div>

  <div laminarteScrollerItem class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <laminarte-services
        [products]="products">
      </laminarte-services>
    </div>
  </div>

  <div laminarteScrollerItem class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <laminarte-estimate></laminarte-estimate>
    </div>
  </div>

  <div laminarteScrollerItem class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <laminarte-contact></laminarte-contact>
    </div>
  </div>
</div>
